#local environment stuff
.env
venv/

#Translation Model Stuff
#Github Repos
en-indic/
fairseq/
indic_nlp_library/
indic_nlp_resources/
indicTrans/
subword-nmt/
#rand files
en2indic.zip

#TTS Model Stuff
Fastspeech2_HS/

